
<div class="icontainer" id="container">
	<!--控制面板-->
   	<div class="icontrol" id="control">	     
		<div class="ititle" id="title">下午茶，听海</div>
	     	<div class="ictrlContainer" id="ctrlContainer">
			<div id="pri"></div>
		   	<div id="play"></div>
		   	<div id="next"></div>	
		   	<div id="vol"></div>
		 </div>
	     	 <div class="iprogress" id="progress">
		   	<div id="pgBar"></div>  
		   	<div id="pBar"></div>
		 </div>		
   	</div>
	<!--工具栏-->
	<div class="itoolbar" id="toolbar">
		<div id="upload">+</div>
	</div>
	<!--音频文件列表-->
        <div class="ifileList" id="fileList">
		<ul id="fList"></ul>
	</div>	
</div>
<!--定义消息层-->
<div id="msg"></div>

<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/stylesheets/song.css" rel="stylesheet">
<script src="/javascripts/jQuery-1.7.1.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/player.js"></script>
<script src="/javascripts/play.js"></script>

<script>
	$(document).ready(function(){
		//
		$.ajax({
			type: 'GET',
			url: '/get_files'
		}).done(function( data ) {
			$.each(data, function(n, v) {
				Player.add(v, '/upload/' + v);
				var li = $("<li class='songs' id='" + n +"'>" + v + "</li>");	
				$('#fList').append(li);
			});
		});	
	});
</script>


